body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.attendeeBox {
    cursor: pointer !important;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    background: #1E88E5;
    color: #FFF;
    float: left;
    text-align: center;
    margin: 10px;
}
.active {
    background: green;
}
.muted {
    background: red;
}
ul.notificationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.notificationList error{
    background: red;
}
ul.notificationList li {
    display: block;
    margin-bottom: 10px;
    background: #E3F2FD;
    padding: 10px;
}
.clear {
    clear: both
}
