<div class="col-sm-8">
  <div class="row">
    <div title="Mute/unmute attendee" , class="attendeeBox" ng-repeat="item in attendeeBox" ng-class="{active: item.isActive, muted: item.isMuted}" ng-click="muteAction(item)">{{item.pId}}</div>
    <div class="clear"></div>
  </div>
</div>

<div class="col-sm-4">
  <ul class="notificationList info" ng-repeat="item in notifications.slice().reverse()">
    <li>{{item.content}}</li>
  </ul>
</div>
</div>
